Daily_stocks_data/ALIV-SDB.xlsx
Daily_stocks_data/ASSA-B.xlsx
Daily_stocks_data/ATCO-A.xlsx
Daily_stocks_data/AZN.xlsx
Daily_stocks_data/BOL.xlsx
Daily_stocks_data/ELUX-B.xlsx
Daily_stocks_data/ERIC-B.xlsx
Daily_stocks_data/GETI-B.xlsx
Daily_stocks_data/HEXA-B.xlsx
Daily_stocks_data/HM-B.xlsx
Daily_stocks_data/KINV-B.xlsx
Daily_stocks_data/SAND.xlsx
Daily_stocks_data/SEB-A.xlsx
Daily_stocks_data/SECU-B.xlsx
Daily_stocks_data/SHB-A.xlsx
Daily_stocks_data/SKA-B.xlsx
Daily_stocks_data/SKF-B.xlsx
Daily_stocks_data/SWED-A.xlsx
Daily_stocks_data/SWMA.xlsx
Daily_stocks_data/TEL2-B.xlsx
Daily_stocks_data/TELIA.xlsx
.vscode/settings.json
__pycache__/agent.cpython-310.pyc
__pycache__/env.cpython-310.pyc
__pycache__/memory.cpython-310.pyc
__pycache__/networks.cpython-310.pyc
Best_model/keras_metadata.pb
Best_model/saved_model.pb
Best_model/variables/variables.data-00000-of-00001
Best_model/variables/variables.index
Best_weights/actor.h5
Best_weights/critic.h5
Best_weights/target-actor.h5
Best_weights/target-critic.h5
code_dump.txt
